.categories {
    width: 100%;
    padding: 80px 0;
    .categories_items {
        width: 100%;
        .categories_title {
            @include title-style;
        }
        .categories_content {
            margin-top: 60px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 240px);
            grid-template-rows: repeat(2, 316px);
            justify-content: space-between;
            gap: 30px 0;
            .categories_item {
                background-color: #3b3b3b;
                border-radius: 20px;
                @include up-animation;
                .item_img {
                    width: 100%;
                }
                .item_text {
                    padding: 20px 30px;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 600;
                }
            }
        }
    }
}
