.works {
    width: 100%;
    .works_items {
        width: 100%;
        padding: 80px 0;
        .works_title {
            @include title-style;
        }
        .works_subtitle {
            @include subtitle-style;
        }
        .works_content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 48px;
            .works_item {
                width: 330px;
                padding: 10px 40px 30px 40px;
                background-color: #3b3b3b;
                border-radius: 20px;
                text-align: center;
                @include up-animation;
                .item_img {
                    width: 100%;
                }
                .item_text {
                    margin-top: 20px;
                    .item_title {
                        font-size: 22px;
                        font-weight: 600;
                        color: #fff;
                    }
                    .item_descr {
                        margin-top: 10px;
                        color: #fff;
                    }
                }
            }
        }
    }
}
